<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>Home Page</title>
  <link rel="stylesheet" href="/static/main.css" />

</head>



  <div id="Ai_title" class="Ai_title" style="height: auto; width: 50%">
    <h1>animal questions ai :</h1>
  </div>
</div>

<!-- seasonal advice containers -->
<div id="ai-response" class="ai-response" style="font-size: larger"></div>
  <!-- ai -->
  <div class="container" style="height: auto; width: 50%; background-color: #fff;">
    <h2>questions chat bot</h2>
    <div id="loading" style="display: none; text-align: center;">
      <p>Loading...</p>
    </div>
   
    <form action="/Ai_data", method="post">
      <input type="text" id="ai-question" name="ai-question"placeholder="Ask a question..." style="bottom: 0;" />

      <button type="submit" style="padding: 10px;">Ask</button>

  </div>
</div>